@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  /* Color */
  --primary-color: #fffbe9;
  --secondary-color: #f98e72;
  --accent-color: #bc5a41;

  /* Typography */
  --fs-base: 0.85rem;
  --fs-1: 0.75rem;
  --fs-2: 0.875rem;
  --fs-3: 1.25rem;
  --fs-4: 1.5rem;
  --fs-5: 1.875rem;

  /* Weight */
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

img,
button,
label {
  display: block;
}

a,
span {
  display: inline-block;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: var(--fs-base);
  line-height: 1.6;
  overscroll-behavior: contain;
}

input {
  display: block;
  width: 100%;
  font: inherit;
  border: none;
  outline: none;
}

input::placeholder {
  font: inherit;
}

input.center-placeholder::placeholder {
  text-align: center;
}

input.start-placeholder::placeholder {
  text-align: start;
}

input.end-placeholder::placeholder {
  text-align: end;
}

body {
  background: var(--primary-color);
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 10px;
}

body::-webkit-scrollbar:horizontal {
  height: 4px;
}

body::-webkit-scrollbar-thumb:horizontal {
  background: var(--accent-color);
  border-radius: 10px;
}

@media (min-width: 501px) {
  .navbar-desktop {
    display: block;
  }
  .navbar-mobile {
    display: none;
  }
}

@media (max-width: 500px) {
  .navbar-desktop {
    display: none;
  }
  .navbar-mobile {
    display: block;
  }
}

.container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.center-items {
  align-items: center;
  justify-content: center;
}

.textfield {
  background: var(--primary-color);
  border: 1px solid var(--accent-color);
}

.custom-button {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  transition: filter 0.4s ease-in, border 0.2s ease-in;
}

.custom-button:hover {
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
  border: 2px solid var(--accent-color);
}

.shadow {
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.45));
  transition: filter 0.2s ease-in;
}

.shadow:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.45));
}

.tab {
  border-bottom: 1px solid var(--secondary-color);
  cursor: pointer;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

.logo {
  font-weight: 500;
}

.hero {
  background: rgb(236, 52, 93);
  background: linear-gradient(
    225deg,
    /* rgba(236, 52, 93, 1) 50%, */ rgb(236, 171, 52) 50%,
    rgba(255, 253, 214, 1) 50%
  );
}

.hero-header {
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
  color: var(--accent-color);
  text-shadow: 2px 2px #fffbe9;
}

@media (max-width: 440px) {
  .cart-item {
    width: 80%;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    align-self: center;
    background-color: var(--accent-color);
    gap: 1rem;
    padding: 1rem 0 1rem 0;
    text-align: center;
  }
}

@media (min-width: 441px) {
  .cart-item {
    flex-direction: column;
    align-items: center;
    width: 60%;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    align-self: center;
    background-color: var(--accent-color);
    gap: 1rem;
    padding: 1rem;
  }
}

@media (min-width: 1400px) {
  .cart-item {
    flex-direction: column;
    align-items: center;
    width: 30%;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    align-self: center;
    background-color: var(--accent-color);
    gap: 1rem;
    padding: 1rem;
  }
}

.product-modal-outer {
  position: fixed; /* it stay there, ignore the scrolling */
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  backdrop-filter: brightness(0.6) blur(2px);
}

.product-modal-inner {
  width: 50%;
  height: 50%;
  border: 1px solid var(--accent-color);
  border-radius: 10px;
  background-color: var(--primary-color);
}

.product-modal-img,
.buy-product-modal-img {
  width: 130px;
  height: 130px;
}

.shop-modal-img {
  width: 80px;
  height: 80px;
}

@media (max-width: 500px) {
  .product-modal-inner {
    width: 95%;
    height: 85%;
    padding: 0 1rem 0 1rem;
  }

  .modal-content {
    flex-direction: column;
  }
}

@media (min-width: 501px) {
  .product-modal-inner {
    width: 85%;
  }
}

@media (min-width: 900px) {
  .product-modal-inner {
    width: 85%;
  }
}

@media (min-width: 1100px) {
  .product-modal-inner {
    width: 45%;
  }
}

@media (max-width: 800px) {
  .profile-detail {
    flex-direction: column;
  }

  .profile-container {
    padding-top: 20rem;
  }

  body {
    background-color: var(--accent-color);
  }
}

.editable-profile {
  font-size: 20.4px;
  font-weight: bold;
  color: var(--primary-color);
  background: none;
}